$primary: #759E48;
$secondary: #141414;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/mediaelement/build/mediaelementplayer.css";
@function rgbaConvert($color, $alpha: 1) {
    $r: red($color);
    $g: green($color);
    $b: blue($color);
    $a: $alpha;
    @return rgba($r, $g, $b, $a);
}

body {
    --bs-body-bg: $secondary;
}
.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

#hero {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    padding-bottom: 200px;
    padding-left: 50px;
    padding-right: 50px;
    #ytplayer {
        position: absolute;
        top: 0;
        height: 100%;
        aspect-ratio: 1873/790;
        pointer-events: none;
        transform: scale(1.4);
        align-self: center;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            to top,
            rgbaConvert($secondary, 1) 0%,
            rgbaConvert($secondary, .95) 5%,
            rgbaConvert($secondary, 0.2) 35%,
            rgbaConvert($secondary, 0) 50%,
            rgbaConvert($secondary, 0) 100%
        )
    }
    p.overview {
        color: #fff;
        font-size: 1.2vw;
        font-weight: 300;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, .45);
        max-height: 155px;
        overflow: hidden;
    }
    .btn-layer {
        position: absolute;
        right: 0;
        bottom: 35%;
        display: flex;
        align-items: center;
        .btn-circle {
            width: 50px;
            height: 50px;
            border-radius: 999px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            // & svg {
            //     width: 25px;
            //     height: 25px;
            // }
        }
        .movie-rating {
            color: #fff;
            font-size: 1.2vw;
            font-weight: 300;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, .45);
            padding: 5px 15px;
            background-color: rgbaConvert($secondary, .8);
            border-left: 2px solid #fff;
        }
    }
}

.container-fluid#hero {
    margin-bottom: -200px;
}

.d-flex.movies {
    overflow: hidden;
}

.movie {
    aspect-ratio: 261/147;
    width: 260px;
    background-size: cover;
    background-position: center;
    border-radius: .2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & img {
        width: 175px;
    }
}

h3.category-title {
    font-size: 1.4vw;
}